# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Checkpoints de notebooks (por si acaso)
.ipynb_checkpoints/

# Configuración de VS Code
.vscode/

# Archivos temporales o de respaldo
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db